.paid-success {
  background-image: url(@/assets/images/paid_success.jpg);
  background-position: center center;
  background-size: cover;
  height: 470px;
}
.paid-checkbox {
  --bs-bg-opacity: 0.7;
  height: 200px;
}
